* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}
.all-wrapper {
  padding: 10px;
}

input,
button {
  border-radius: 8px;
  margin: auto;
  padding: 10px;
  border: 2px solid gray;
  width: 100%;
}

button {
  background-color: #3d84c6;
  color: #fff;
  font-size: 16px;
}

.email {
  margin: 10px auto;
}

.logo {
  margin-bottom: 3rem;
}

a {
  color: #53acff;
  text-decoration: none;
  font-size: 16px;
}

.bir {
  margin: 5px;
}

h2 {
  font-size: 30px;
}

.ikki {
  margin-top: 7px;
  margin-bottom: 1.5rem;
}
